.multi-select-container {
    display: inline-block;
    position: relative;
    color: rgba(196, 196, 196, 1);
    width: 100%;
    font-size: 13px;
}

.multi-select-menu {
    position: absolute;
    left: 0;
    top: 0.8em;
    z-index: 1;
    float: left;
    min-width: 100%;
    background: linear-gradient(180deg, #F5F5F5 0%, #EBEBEB 100%);
    margin: 1em 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: none;
    color: rgba(196, 196, 196, 1);
}

.multi-select-menuitem {
    display: block;
    padding: 8px 10px 0.6em 30px;
    white-space: nowrap;
    border-radius: 4px;
    width: 100%;
}

.multi-select-menuitem--titled:before {
    display: block;
    font-weight: bold;
    content: attr(data-group-title);
    /* margin: 0 0 0.25em -20px; */
}

.multi-select-menuitem--titledsr:before {
    display: block;
    font-weight: bold;
    content: attr(data-group-title);
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.multi-select-menuitem + .multi-select-menuitem {
    padding-top: 0;
    width: 100%;
}

.multi-select-presets {
    border-bottom: 1px solid #ddd;
}

.multi-select-menuitem input {
    position: absolute;
    margin-top: 0.25em;
    margin-left: -20px;
    padding: 10px;
}

.multi-select-button {
    display: inline-block;
    padding: 10px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: -0.5em;
    background: linear-gradient(180deg, #F5F5F5 0%, #EBEBEB 100%);
    border-radius: 4px;
    border: 1px solid #E9E5E5 !important;
    cursor: default;
}

.multi-select-button:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.4em 0.4em 0 0.4em;
    border-color: #666666 transparent transparent transparent;
    vertical-align: 0.1em;
    float: right;
    margin-top: 6px;
}

.multi-select-container--open .multi-select-menu {
    display: block;
}

.multi-select-container--open .multi-select-button:after {
    border-width: 0 0.4em 0.4em 0.4em;
    border-color: transparent transparent #999 transparent;
}

.multi-select-container--positioned .multi-select-menu {
    box-sizing: border-box;
}

.multi-select-container--positioned .multi-select-menu label {
    white-space: normal;
}
